<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js" integrity="sha384-tIwI8+qJdZBtYYCKwRkjxBGQVZS3gGozr3CtI+5JF/oL1JmPEHzCEnIKbDbLTCer" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/homepage.js"></script>
</head>
<body>

<h1>Image Uploader</h1>

<div id="url_display_area">
    <h2>Upload single image here</h2>
    <form id="image_uploader_form" enctype="multipart/form-data" action="api/image_uploader/" method="post">
        <input type="file" name="user_image"/>
        <input type="submit" name="submit" id="submit_button" value="Upload" />
    </form>
    <br>

    <h2>Upload zip file here</h2>
    <form id="zip_uploader_form" enctype="multipart/form-data" action="api/zip_uploader/" method="post">
        <input type="file" name="user_zip"/>
        <input type="submit" name="submit" id="zip_submit_button" value="Upload" />
    </form>

</div>

</body>
</html>